:host {
    background-image: url("/images/homepage-banner.webp");
    background-size: cover;
    background-position: bottom;
    height: 40vh;
    position: relative;
  }

  .card-container { 
    width: auto;
  
    .card { 
      position: relative;
      color: white;
      border-color: transparent !important;
      background-color: transparent !important; 
    }
  }