<div class="container my-5">
  <!-- Header avec date centrée et bouton à droite -->
  <div class="row align-items-center mb-4">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <h6 class="mb-2">Working Day</h6>
      <input type="date" class="form-control" [value]="store.date()" (change)="store.updateDate($event)" />
    </div>
    <div class="col-md-4 text-end mt-3 mt-md-0">
      @if(store.hasTaskPlanned()) {
        <button class="btn btn-success rounded-pill px-4 py-2 fw-bold" data-testid="start-button">
          Start the work day
        </button>
      }
    </div>
  </div>

  @if(store.hasNoTaskPlanned()) {
    <div class="text-center my-4" data-testid="empty-state">
      <img src="images/productivity-planner-inbox-zero.gif" alt="No tasks" class="img-fluid mb-3" />
      <p class="text-muted">Aucune tâche prévue pour aujourd'hui</p>
    </div>
  }

  @for(task of store.taskList(); track $index ){
    @if ($index === 0){
      <h6 class="mb-3 text-muted">Most important task</h6>
    }
    @if ($index === 1){
      <h6 class="mb-3 text-muted">Tâches de seconde importance</h6>
    }
    @if ($index === 3){
      <h6 class="mb-3 text-muted">Tâches restantes</h6>
    }
  <!-- Task dump component -->
  <app-task-field class="p-3 mb-3" [task]="task" [index]="$index" (taskUpdated)="store.updateTask($index, $event)"
    (taskRemoved)="store.removeTask($index)" />  }
  
 <!-- Ajouter une tâche -->
  <div class="text-center">
    @if(store.isButtonDisplayed()) {
    <button data-testid="add-task-button" class="btn btn-link text-muted" (click)="store.onAddTask()">Ajouter une
      tâche</button>
    }
  </div>
</div>
